.Header{
  width: 100%;
  padding: 10px;
  margin: auto;
}

.Header-title-component{
  margin-bottom: 0px;
  padding: 0px;
}

.Header-title{
  font-size: 56px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.Header-caption{
  font-size: 24px;
  margin-top:5px;
}

